span.one {
	color:red;
}
span.two {
	color:#0000CD;
}
span.three {
	color:pink;
}
span.green {
	color:green;
}
h1{
	text-align: center;
}
span.forth {
	text-decoration: line-through;
	color: red;
}
span.real{
	text-align: center;
}
span.prav{
	text-align: right;
	color: blue;
}
span.orange{
	color: orange;
	font-size: 19px;
}
span.podch{
color: #A52A2A;
text-decoration: underline;
font-size: 19px;
}
span.prosto{
	font-size: 19px;
}
span.ont {
	color:red;
	text-align: center
}
span.read{
	text-align: center;
	color:blue;
}
span.pink{
	color: pink;
}
span.black{
	color: black;
}
span.oran{
	color: orange;
}
span.blud{
	color: blue;
	font-size: 19px;
	}
span.podcher{
	text-decoration: underline;
}
span.blum{
	color: blue;
}