<meta charset="UTF-8">
<style>
   body {
    background: #c7b39b url(http://getwall.ru/image/f3644c17e50a4042f43e8a49c28af841/getwall_ru_32_3514_1920x1080.jpg);
    color:#FFFAFA;
   }
  </style>
	<h2>About:</h2>
Подключите ваш iPhone вашему Mac или ПК и откройте приложение <b>iTunes</b>.
Вам необходимо перезагрузить смартфон и перевести его в режим восстановления. <b>Для этого</b> удерживайте нажатыми кнопки включения и Home, пока не появится экран режима восстановления.
Далее вы должны будете увидеть обращение в сервисе ITunes с вопросом, хотите ли вы обновить или восстановить программное обеспечение. Выбираете «Обновить» (Update), чтобы продолжить процесс обновления.
Шаги 1–3 нужно будет повторить, если процесс настройки затянется более чем на 15 минут.
После того, как процесс обновления будет завершён, можете приступать к настройке смартфона.
Тем, кто не смог самостоятельно «привести в чувство» свой смартфон или планшет, следует обратиться в службу AppleCare, которая, как правило, без всяких затруднений решает подобные проблемы.
<br>
<b><a href="../index.html">Головна</a><br>
		<a href="../etc/etc.html">etc</a><br>
		<a href="../layouts/contacts.html">Контакти</a><br>