*{
    padding: 0;
    margin: 0;
}
.background{
    width: 1400px;
}
div.content{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
div.search{
    margin-top: 33px;
    height: 30px;
    border: 1px solid #d6d6d6;
    display: inline-block;
    width: 207px;
}
div.search input[type=search],input[type=submit] {
    height: 30px;
    border: none;
    width: 177px;
    text-indent: 5px;
}

div.search input[type=submit]{
    background: url("../img/search.png") no-repeat 50% 50%;
    width: 30px;
    height: 30px;
    background-color: #1caedd;
    float: right;
}
div.FindUS{
    display: inline-block;
    float: right;
    margin-top: 33px;
}
span.greytext{
    color: #636363;
    text-align: right;
}
div.contacts{
    text-align: right;
}
div.main{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: -1px 3px 15px #888888;
    margin-top: 33px;
    position: relative;
}
div.header{
    height: 139px;
    position: relative;
}
div.logo{
    padding-top: 39px;
    padding-left: 39px;
    display: inline-block;
}

div.menu{
    display: inline-block;
    float: right;
    margin-top: 49px;
}

div.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 40px;
}

div.menu ul li {
    float: left;
}

div.menu ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

div.menu ul li a:hover {
    background-color: #e0e0e0;
}
div.section-content{
    height: 659px;
    position: relative;
    background-color: #ffffff;
    border: 1px dotted #9b9b9b;
    border-left: none;
    border-right: none;
}
div.section1{
    height: 659px;
    width: 634px;
    background-color: #ffffff;
    margin-left: 21px;
    display: inline-block;

}
div.section2{
    width: auto;
    height: 659px;
    border-left: 1px dotted #9b9b9b;
    display: inline-block;
}
footer{
    height: 240px;
    background-color: #f8f8f8;
}
div.footer1,div.footer2,div.footer3,div.footer4{
    width: 20%;
    display: inline-block;
    margin-left: 37px;
}
div.footer1{
    margin-left: 32px;
}
div.footer4{
    margin-right: 29px;
}
div.subfooter1{
    border-bottom: 1px dotted #9b9b9b;
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: 600;
    max-height: 62px;
}

footer ul{
    list-style-type: square;
    list-style-position: inside;
    color: #727272;
}
footer ul li{
    padding: 1px;
}
div.subfooter2{
    color: #727272;
    font-size: 16px;
}
footer a{
    color: #1caedd;
    text-decoration: none;
}